@import '../theme/theme.css';

.banner {
  width: 100%;
  overflow: hidden;
  /* background: var(--color-surface-soft); */
  /* padding: 10px 0; */
}

.track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.image {
  width: 100%;
  height: 580px;
  object-fit: cover;
  /* border-radius: var(--radius-lg); */
}

/* .dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
} */

/* .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-border-soft);
  border: none;
} */

/* .activeDot {
  background: var(--color-primary);
} */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-surface);
  border-radius: 999px;
  border: 1px solid var(--color-border-soft);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 16px;
}

.next {
  right: 16px;
}

@media (max-width: 768px) {
  .image {
    height: 350px;
    object-position: center;
  }

  .prev,
  .next {
    width: 32px;
    height: 32px;
  }

  .prev {
    left: 8px;
  }

  .next {
    right: 8px;
  }
}